*,
*::after,
*::before {
  font-family: TwitterChirp;
  src: url(./type-style.css);
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
  top: 0;
}

/* main */
.main {
  //   background-color: rgb(136, 173, 214);
  width: 990px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__sidebar {
  margin-right: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary-white-clr);
  border-radius: 9999px;
}

.btn--primary {
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  background-color: var(--primary-clr);
  margin: 4px 0;
}

.btn--large {
  width: 90%;
  min-width: 52px;
  min-height: 52px;
  padding-left: 32px;
  padding-right: 32px;
}

.btn--secondary {
  background-color: var(--primary-black-clr);
  height: 32px;
  padding: 0 16px;
  width: fit-content;
}

.btn--normal {
  width: 100%;
  min-width: 32px;
  min-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

@media all and (max-width: 1104px) {
  .main {
    width: 920px;
  }
}
@media all and (max-width: 1015px) {
  .main {
    width: fit-content;
  }

  .sidebar {
    display: none;
  }
}

@media all and (max-height: 499px) {
  .page {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
  }

  .main {
    max-width: 100vw;
    position: relative;
    top: 53px;
  }
}
@media all and (max-width: 499px), (max-height: 499px) {
  .page {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 52px);
    width: 100%;
    justify-content: space-between;
  }

  .main {
    overflow-y: scroll;
  }
}
