.feed {
  position: relative;
  top: 53px;
  max-width: 600px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: lavender;
  width: 100%;
}
.homebar {
  display: flex;
  padding: 0 16px;
  height: 53px;
  align-items: center;
  background-color: var(--primary-white-clr);
  position: fixed;
  width: 600px;
  top: 0;
}
.homebar-pic__wrapper {
  min-width: 56px;
  display: none;
  height: 32px;
}
.homebar__pic {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.homebar__title {
  line-height: 24px;
  flex-grow: 1;
}

.homebar__icon {
  transition-property: background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.homebar__svg {
  width: 20px;
  height: 20px;
}
.homebar__icon:hover {
  background-color: var(--accent-gray-light-clr);
}
.post {
  padding: 0 16px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media all and (max-width: 702px) {
  .feed,
  .homebar {
    width: calc(100vw-88px);
  }
}
@media all and (max-height: 499px) {
  .feed {
    height: fit-content;
    z-index: 1;
    top: 0;
  }

  .homebar {
    width: 990px;
  }

  .homebar-pic__wrapper {
    display: block;
  }
}

@media all and (max-width: 499px) {
  .feed {
    height: fit-content;
    z-index: 1;
  }

  .homebar-pic__wrapper {
    display: block;
  }
}
