.feed {
  position: relative;
  top: 53px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--accent-gray-clr);
  border-top: none;
}
.homebar {
  display: flex;
  padding: 0 16px;
  height: 53px;
  align-items: center;
  background-color: var(--primary-white-clr);
  position: fixed;
  width: 600px;
  top: 0;
  border: solid 1px var(--accent-gray-clr);
}
.homebar-pic__wrapper {
  min-width: 56px;
  display: none;
  height: 32px;
}
.homebar__pic {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.homebar__title {
  line-height: 24px;
  flex-grow: 1;
}

.homebar__icon {
  transition-property: background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.homebar__svg {
  width: 20px;
  height: 20px;
}
.homebar__icon:hover {
  background-color: var(--accent-gray-light-clr);
}
.tweet-box {
  display: flex;
  padding: 0 16px;
}
.tweet-box__photo {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  margin-top: 4px;
  margin-right: 12px;
}
.tweet-box__post-creator {
  padding-top: 4px;
  width: 100%;
}
.tweet-box__msg {
  height: 56px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
}

.tweet-box__post-insert-bar {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: flex-end;
  height: 48px;
  padding-bottom: 4px;
}
.tweet-box__inserts {
  position: relative;
  left: -8px;
  display: flex;
  margin-top: 12px;
}
.tweet-box_insert-item {
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}
.tweet-box_insert-item:hover {
  background-color: var(--primary-light-clr);
}
.tweet-box_svg {
  width: 20px;
  height: 20px;
  color: var(--primary-clr);
}
.tweet-box__button {
  height: 34px;
  width: fit-content;
  padding: 0 16px;
  background-color: var(--primary-clr);
  opacity: 0.5;
}
.horizontal-divider {
  height: 1px;
  background-color: var(--accent-gray-clr);
}
.feed__horizontal-divider {
  margin: 4px 0;
}
.post {
  padding: 0 16px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.post:hover {
  background-color: var(--transparent-dark-clr);
}
.post-header {
  padding-top: 12px;
}
.post-user__picture {
  height: 46px;
  width: 46px;
  border-radius: 100%;
}
@media all and (max-width: 715px) {
  .tweet-box_insert-item:nth-child(3),
  .tweet-box_insert-item:last-child {
    display: none;
  }
}

@media all and (max-width: 702px) {
  .feed,
  .homebar {
    width: calc(100vw-88px);
  }
}
@media all and (max-height: 499px) {
  .feed {
    height: fit-content;
    z-index: 1;
    top: 0;
  }
  .tweet-box {
    display: none;
  }
  .homebar {
    width: 990px;
  }

  .homebar-pic__wrapper {
    display: block;
  }

  .feed__horizontal-divider {
    display: none;
  }
}

@media all and (max-width: 499px) {
  .feed {
    height: fit-content;
    z-index: 1;
  }

  .tweet-box {
    display: none;
  }

  .feed__horizontal-divider {
    display: none;
  }
  .homebar-pic__wrapper {
    display: block;
  }
}
