.sidebar {
  width: 350px;
  height: 100vh;
  background-color: white;
  position: sticky;
  top: calc(100vh - 1000px);
}

.search__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--accent-gray-clr);
  border-radius: 999px;
}

.sidebar__search {
  position: sticky;
  padding: 4px 0;
  top: 0;
  margin-bottom: 12px;
  background-color: var(--primary-white-clr);
}

.search__icon {
  padding-left: 12px;
  width: 44px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-black-clr);
}

.search__input {
  margin: 0 12px;
  width: 307px;
  height: auto;
  background-color: transparent;
  border: none;
}
.sidebar__trend,
.sidebar__follow {
  margin-bottom: 16px;
}
.trend {
  background-color: var(--accent-gray-clr);
  border-radius: 16px;
}
.trend__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.trend__options {
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
  color: var(--accent-black-clr);
}

.trend__options:hover {
  background-color: var(--accent-gray-light-clr);
}

.trend-item__header {
  display: flex;
  justify-content: space-between;
  color: var(--accent-black-clr);
}
.trend-item__topic {
  line-height: 16px;
}
.trend-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
}

.trend-item:hover {
  background-color: var(--transparent-dark-clr);
}
.trend-item__options {
  color: var(--accent-black-clr);

  width: 34.75px;
  height: 34.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -8px;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 100%;
}

.trend-item__options:hover {
  background-color: var(--primary-light-clr);
  color: var(--primary-clr);
}
.trend-item__title {
  height: 20px;
  padding-top: 2px;
}
.trend-item__tweets {
  height: 16px;
  padding-top: 4px;
  color: var(--accent-black-clr);
}

.trend__footer {
  padding: 16px;
  color: var(--primary-clr);
  cursor: pointer;
}

.trend__footer:hover {
  background-color: var(--transparent-dark-clr);
}

.follow {
  background-color: var(--accent-gray-clr);
  border-radius: 16px;
}
.follow__header {
  height: 40px;
}
.follow__tilte {
  padding: 12px 16px;
}
.follow__list {
}
.follow__footer {
  padding: 16px;
  color: var(--primary-clr);
  cursor: pointer;
}

.follow__footer:hover {
  background-color: var(--transparent-dark-clr);
}

.follow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

.follow-item:hover {
  background-color: var(--transparent-dark-clr);
}
.follow-item__pic {
  width: 46px;
  height: 46px;
  margin-right: 12px;
  border-radius: 100%;
}

.follow-item__details {
  width: 167px;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.follow-item__visible-name {
  color: var(--primary-black-clr);
  line-height: 20px;
  text-decoration: none;
}

.follow-item__username {
  line-height: 20px;
}

.follow-item__visible-name:hover {
  text-decoration: underline;
}
.follow-item__button {
  transition-property: background-color;
  transition-duration: 0.2s;
  margin-left: 12px;
}

.follow-item__button:hover {
  background-color: var(--accent-black-light-clr);
}
.service-links {
  padding: 0 16px;
  display: flex;
  flex-flow: row wrap;
}
.sidebar__service-links {
  margin-bottom: 16px;
}
.service-links__link {
  padding-right: 12px;
  margin: 2px 0;
  line-height: 16px;
  text-decoration: none;
  color: var(--accent-black-clr);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.service-links__svg {
  width: 17px;
  height: 13px;
  padding: 0 2px;
}

.service-links__link:hover {
  text-decoration: underline;
}

.sidebar__copyright {
  display: flex;
  align-items: center;
  color: var(--accent-black-clr);
  line-height: 16px;
  margin: 2px 0;
}

@media all and (max-width: 1104px) {
  .sidebar {
    width: 290px;
  }
}
@media all and (max-width: 987px) {
  .sidebar {
    display: none;
  }
}

@media all and (max-height: 499px) {
  .search {
    display: none;
  }
}
