.sidebar {
  width: 350px;
  height: 100vh;
  background-color: white;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--accent-gray-light-clr);
  border-radius: 999px;
}

.sidebar__search {
}

.search__icon {
  padding-left: 12px;
  width: 44px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  margin: 0 12px;
  width: 307px;
  height: auto;
  background-color: transparent;
  border: none;
}

@media all and (max-width: 987px) {
  .sidebar {
    display: none;
  }
}
